# Sanity Configuration
# Trouvez ces valeurs sur https://sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=votre_project_id
NEXT_PUBLIC_SANITY_DATASET=production

# Token API Sanity (lecture seule pour le front-end)
# Créez-le dans sanity.io/manage > API > Tokens
SANITY_API_READ_TOKEN=votre_token_ici

# Authentification front-end
# Mot de passe commun pour accéder au site
SITE_PASSWORD=votre_mot_de_passe
# Valeur secrète pour le cookie de session (chaîne aléatoire longue)
AUTH_SECRET=une_chaine_aleatoire_tres_longue_ici
